name: Publish docker image to Github Packages
on:
  release:
    types:
      - created
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: docker/setup-qemu-action@v3.7.0
      - uses: docker/setup-buildx-action@v3.12.0
      - name: Log in to GHCR
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ghcr.io/kappsegla/simpleserver
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
