name: Publish to Github Packages
on:
  release:
    types:
      - created
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'
      - name: Set project version from tag
        run: |
          CLEAN_VERSION=${GITHUB_REF_NAME#v}
          mvn versions:set -DnewVersion=${CLEAN_VERSION} -DgenerateBackupPoms=false
      - name: Publish with Maven
        run: mvn -B deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
